@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-red-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #ffffff;
  background-color: rgba(256, 256, 256, var(--bg-opacity));
}

.scrollbar-thumb-red::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #000000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
