@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-red-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #ff6b6b;
  background-color: rgba(253, 210, 191, var(--bg-opacity));
}

.scrollbar-thumb-red::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #df1313;
  background-color: rgba(215, 19, 19, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
